.loader-container{
    position: fixed;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    opacity: 1;
    transition: all 0.5s ease-out;
}

.loader-container img{
    width: 35rem;
    animation: bounce 7s infinite;
}

.loader-container.fade-out{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}