<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard GRAN APPETIT </title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <!-- =============== Navigation ================ -->

    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="restaurant-sharp"></ion-icon>
                        </span>
                        <span class="title">EL GRAN APPETIT</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-section="dashboard">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-section="clientes">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Clientes</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="storefront-outline"></ion-icon>
                        </span>
                        <span class="title">Productos</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="list-sharp"></ion-icon>
                        </span>
                        <span class="title">Pedidos</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Opiniones</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-section="reservaciones">
                        <span class="icon">
                            <ion-icon name="bookmarks-outline"></ion-icon>
                        </span>
                        <span class="title">Reservaciones</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="star-outline"></ion-icon>
                        </span>
                        <span class="title">Rating</span>
                    </a>
                </li>

                <li>
                    <a href="/">
                        <span class="icon">
                            <ion-icon name="arrow-back-outline"></ion-icon>
                        </span>
                        <span class="title">Regresar</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- ========================= Main ==================== -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

            </div>


            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">1,120</div>
                        <div class="cardName">Visitas Diarias</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">8</div>
                        <div class="cardName">Total de ordenes</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">28</div>
                        <div class="cardName">Comentarios</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">S/. 150</div>
                        <div class="cardName">Ingresos</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Ordenes Recientes</h2>
                        <a href="#" class="btn">Ver Todos</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Nombre</td>
                                <td>Precio</td>
                                <td>Pago</td>
                                <td>Estado</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1 Pollo a la brasa</td>
                                <td>S/. 55</td>
                                <td>Pagado</td>
                                <td><span class="status delivered">Delivery</span></td>
                            </tr>

                            <tr>
                                <td>1/2 Pollo a la brasa</td>
                                <td>s/. 30</td>
                                <td>Pendiente</td>
                                <td><span class="status pending">Pendiente</span></td>
                            </tr>

                            <tr>
                                <td>1/4 Pollo a la brasa</td>
                                <td>S/. 17</td>
                                <td>Pagado</td>
                                <td><span class="status return">Entregado</span></td>
                            </tr>

                            <tr>
                                <td>Salchipapa</td>
                                <td>S/. 10</td>
                                <td>Pendiente</td>
                                <td><span class="status inProgress">En proceso</span></td>
                            </tr>

                            <tr>
                                <td>1 Jarra Chicha Morada</td>
                                <td>S/. 12</td>
                                <td>Pagado</td>
                                <td><span class="status delivered">Delivery</span></td>
                            </tr>

                            <tr>
                                <td>1 Jarrra Limonada</td>
                                <td>S/. 10</td>
                                <td>Pendiente</td>
                                <td><span class="status pending">Pendiente</span></td>
                            </tr>

                            <tr>
                                <td>Inka Kola 1 Lt.</td>
                                <td>S/. 8</td>
                                <td>Pagado</td>
                                <td><span class="status return">Entregado</span></td>
                            </tr>

                            <tr>
                                <td>Coca Cola 1 Lt. </td>
                                <td>S/. 8</td>
                                <td>Pendiente</td>
                                <td><span class="status inProgress">En Proceso</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Clientes Frecuentes</h2>
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/usuario.png" alt=""></div>
                            </td>
                            <td>
                                <h4>David <br> <span>Chosica - Peru</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/usuario.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Pedro <br> <span>Ate - Perú</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/usuario.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Luis <br> <span>Ate - Perú</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/usuario.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Amit <br> <span>Santa Anita - Perú</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/usuario.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Hugo <br> <span>Ate - Perú</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/usuario.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Maykol <br> <span>Ate - Perú</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/usuario.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Miguel <br> <span>Santa Clara - Perú</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="/images/usuario.png" alt=""></div>
                            </td>
                            <td>
                                <h4>Fiorella <br> <span>Chosica - Perú</span></h4>
                            </td>
                        </tr>
                    </table>
                </div>
                
                <div class="clientes-section perfil-section" id="clientes" style="display: none;">
                    <h2>Clientes</h2>
                    <table class="clientes-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>telefono</th>
                                <th>Direcciones</th>
                                <th>Fecha de Registro</th>
                            </tr>
                        </thead>
                        <tbody class="clientes-container">
                            <!-- Aquí se llenarán los datos de los clientes -->
                        </tbody>
                    </table>
                </div>

                <div class="reservaciones-section perfil-section" id="reservaciones" style="display: none;">
                    <h2>Reservaciones</h2>
                    <table class="reservaciones-table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Número de Personas</th>
                                <th>Ocasión</th>
                                <th>Comentarios</th>
                            </tr>
                        </thead>
                        <tbody class="reservaciones-container">
                            <!-- Aquí se llenarán los datos de las reservaciones -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- =========== Scripts =========  -->
    <script src="/js/dashboard.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>