<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú - Gran Apettit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div id="header-placeholder"></div>

    <section class="menu" id="menu">
            <div class="titulo-container">
                <h1 class="titulo-principal">Explora nuestras categorías</h1>
                <button class="btn-volver">
                <i class="fas fa-arrow-left">
                <span>Volver</span></i>
            </button>
            </div>
        </div>

        <div class="categorias-container">
            <!-- Esta sección ahora se cargará dinámicamente -->
        </div>

        <div class="productos-container" style="display: none;">
            <div class="caja-contenedora">
                <!-- Esta sección ahora se cargará dinámicamente -->
            </div>
        </div>

        <div class="mensaje-no-productos" style="display: none;">
            <h2>No hay productos disponibles</h2>
            <p>Por favor, selecciona otra categoría.</p>
        </div>
    </section>

    <div id="footer-placeholder"></div>

    <div id="carrito-placeholder"></div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/layouts.js"></script>
    <script src="/js/carrito.js"></script>
    <script src="/js/menu.js"></script>
</body>
</html> 