<section class="footer">
    <div class="box-container">
        <div class="box">
            <h3>locations</h3>
            <a href="#"> Lurigancho-Chosica </a>
            <a href="#"> AAAA </a>
            <a href="#"> AAAA </a>
            <a href="#"> AAAA </a>
            <a href="#"> AAAA </a>
        </div>
    
        <div class="box">
            <h3>Enlaces rapidos</h3>
            <a href="#"> Inicio </a>
            <a href="#"> Ofertas </a>
            <a href="#"> Acerca de </a>
            <a href="#"> Menú</a>
            <a href="#"> Opiniones</a>
            <a href="#"> Reserva</a>
        </div>
        <div class="box">
            <h3>Informacion de contacto</h3>
            <a href="#"> +51 987 012 586</a>
            <a href="#"> +51 954 534 070</a>
            <a href="#"> rcrhinospa@ucvvirtual.edu.pe</a>
            <a href="#"> randychrinos223@gmail.com</a>
            <a href="#"> Lurigancho - Chosica</a>
        </div>
        <div class="box">
            <h3>Siguenos en</h3>
            <a href="#"> Facebook</a>
            <a href="#"> Twitter</a>
            <a href="#"> Instagram</a>
            <a href="#"> Tiktok</a>
        </div>

    </div>

    <div class="creditos"> copyright @ 2024 by <span> GRUPO LOS GUAGUITAS UCV </span></div>
</section>