<footer class="footer">
    <div class="box-container">
        <div class="box">
            <h3>Ubicaciones</h3>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Lurigancho-Chosica</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Sede Central</a>
            <a href="#"><i class="fas fa-map-marker-alt"></i>Próximamente</a>
        </div>
    
        <div class="box">
            <h3>Enlaces Rápidos</h3>
            <a href="#"><i class="fas fa-arrow-right"></i>Inicio</a>
            <a href="/app/Views/pages/menu.html?categoria-card=promociones"><i class="fas fa-arrow-right"></i>Promociones</a>
            <a href="/app/Views/pages/menu.html"><i class="fas fa-arrow-right"></i>Menú</a>
            <a href="/app/Views/pages/reserva.html"><i class="fas fa-arrow-right"></i>Reserva</a>
        </div>

        <div class="box">
            <h3>Contáctanos</h3>
            <a href="tel:+51987012586"><i class="fas fa-phone"></i>+51 987 012 586</a>
            <a href="tel:+51954534070"><i class="fas fa-phone"></i>+51 954 534 070</a>
            <a href="mailto:rcrhinospa@ucvvirtual.edu.pe"><i class="fas fa-envelope"></i>rcrhinospa@ucvvirtual.edu.pe</a>
            <a href="mailto:randychrinos223@gmail.com"><i class="fas fa-envelope"></i>randychrinos223@gmail.com</a>
        </div>

        <div class="box">
            <h3>Síguenos</h3>
            <a href="#"><i class="fab fa-facebook"></i>Facebook</a>
            <a href="#"><i class="fab fa-twitter"></i>Twitter</a>
            <a href="#"><i class="fab fa-instagram"></i>Instagram</a>
            <a href="#"><i class="fab fa-tiktok"></i>TikTok</a>
        </div>
    </div>

    <div class="creditos">
        copyright © 2024 by <span>GRUPO LOS GUAGUITAS UCV</span> | Todos los derechos reservados
    </div>
</footer>