<header>
    <a href="index.html" class="logo"><i class="fas fa-utensils"></i>  GRAN APPETIT</a>

    <nav class="navbar">
        <a class="active" href="/">Inicio</a>
        <a href="/app/Views/pages/menu.html?categoria=promociones">Promociones</a>
        <a href="/app/Views/pages/menu.html">Menú</a>
        <a href="/app/Views/pages/reserva.html">Reserva</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <i class="fas fa-map-marker-alt"></i>
        <a href="#" class="fas fa-user" id="user-icon"></a>
        <a href="/app/Views/pages/favoritos.html" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
    </div>
</header>

<form action="" id="search-form">
    <input type="search" placeholder="Busca tu plato.." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form> 