<header class="header">
    <a href="/" class="logo"><i class="fas fa-utensils"></i> GRAN APPETIT</a>

    <nav class="navbar">
        <a class="active" href="/">Inicio</a>
        <a href="/app/Views/pages/menu.html?categoria=promociones">Promociones</a>
        <a href="/app/Views/pages/menu.html">Menú</a>
        <a href="/app/Views/pages/reserva.html">Reserva</a>
    </nav>

    <div class="icons">
        <div class="fas fa-bars" id="menu-bars"></div>
        <div class="fas fa-search" id="search-icon"></div>
        <div class="fas fa-shopping-cart" id="cart-btn"></div>
        <div class="fas fa-map-marker-alt" id="location-btn"></div>
        <a href="/app/Views/pages/favoritos.html" id="favorites-btn">
            <i class="fas fa-heart"></i>
        </a>
        <a href="/app/Views/pages/perfil.html" id="profile-btn">
            <i class="fas fa-user"></i>
        </a>
    </div>
</header>

<form action="" id="search-form">
    <input type="search" placeholder="Busca tu plato.." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form> 