<header class="header">
    <a href="/" class="logo"><i class="fas fa-utensils"></i> GRAN APPETIT</a>

    <nav class="navbar">
        <a class="active" href="/">Inicio</a>
        <a href="/app/Views/pages/menu.html?categoria=promociones">Promociones</a>
        <a href="/app/Views/pages/menu.html">Menú</a>
        <a href="/app/Views/pages/reserva.html">Reserva</a>
    </nav>

    <div class="icons">
        <a href="#" class="icon-circle"></a>
            <i class="fas fa-bars"></i>
        </a>
        <a href="#" class="icon-circle"></a>
            <i class="fas fa-search"></i>
        </a>
        <a href="/app/Views/pages/carrito.html" class="icon-circle">
            <i class="fas fa-shopping-cart"></i>
        </a>
        <div class="icon-circle">
            <i class="fas fa-map-marker-alt" id="location-btn"></i>
        </div>
        <a href="/app/Views/pages/favoritos.html" class="icon-circle">
            <i class="fas fa-heart"></i>
        </a>
        <a href="/app/Views/pages/perfil.html" class="icon-circle">
            <i class="fas fa-user"></i>
        </a>
    </div>
</header>

<form action="" id="search-form">
    <input type="search" placeholder="Busca tu plato.." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form> 